db = db.getSiblingDB('auth-api-db');

try {
    db.createUser({
      user: "api",
      pwd: "{{db-pswd}}",
      roles: [ "readWrite" ]
    });

} catch(err) {
    print(err.message);
}


db.createCollection('users');
